@import "tailwindcss";

@theme {
  --font-capriola: "Capriola", ui-sans-serif, sans-serif;
  --font-creepster: "Creepster", cursive;
  --font-pixelify: "Pixelify Sans", ui-sans-serif, sans-serif;
}

* {
  box-sizing: border-box;
  font-family: "Pixelify Sans";
  color: #776c8a;
}

html,
body,
#app {
  min-height: 100%;
}

body {
  margin: 0;
}

color1 {
  color: #baa7d9;
}

color2 {
  color: #a494be;
}

color3 {
  color: #9083a5;
}

color4 {
  color: #776c8a;
}
color5 {
  color: #645b75;
}
color6 {
  color: #504860;
}

a {
  color: #504860;
  border-color: #a494be;
  background-color: #baa7d9;
}

a.hover {
  color: #baa7d9;
  border-color: #a494be;
  background-color: #504860;
}
