@import "tailwindcss";

@theme {
  --font-capriola: "Capriola", ui-sans-serif, sans-serif;
  --font-creepster: "Creepster", cursive;
  --font-pixelify: "Pixelify Sans", ui-sans-serif, sans-serif;
  --color-violet-1: #baa7d9 ;
  --color-violet-2: #a494be ;
  --color-violet-3: #9083a5 ;
  --color-violet-4: #776c8a ;
  --color-violet-5: #645b75 ;
  --color-violet-6: #504860 ;
  --color-green-1: #baa7d9 ;
  --color-green-2: #274f57 ;
  --color-green-3: #24525b ;
  --color-green-4: #367a6e ;
  --color-green-5: #4ca180 ;
  --color-green-6: #5ebb97 ;

}

* {
  box-sizing: border-box;
  font-family: "Pixelify Sans";
}

html,
body,
#app {
  min-height: 100%;
}

body {
  margin: 0;
}

